In [1]:
#Python Basics
#Creating Data Frame using "DataFrame Method"
#We can create a data frame out of a dictionary
#The keys correspond to the column labels
import pandas as PD
#Make sure that the arrays must all be same length
CrDataFrame1={"Measure1":["a1", [1,2,3,4,5], "Creating Data Frame", "The keys >>> column labels"],\
                       "Measure2": ["ZZ","WW", [23, 737,  34.56], "2435GDSSSSS87"],\
              "Measure3":["DataFrame"*2, "Behdad"*2, "b1", "c1"], "Results":[1232, 3432, 788,46554]}
#The keys correspond to the column labels
#The values or lists corresponding to the rows
#We then cast the dictionary to a data frame using the function data frame
CrDataFrame2=PD.DataFrame(CrDataFrame1)
print(CrDataFrame2)

CrDataFrame2.head()

                     Measure1          Measure2            Measure3  Results
0                          a1                ZZ  DataFrameDataFrame     1232
1             [1, 2, 3, 4, 5]                WW        BehdadBehdad     3432
2         Creating Data Frame  [23, 737, 34.56]                  b1      788
3  The keys >>> column labels     2435GDSSSSS87                  c1    46554

                     Measure1          Measure2            Measure3  Results
0                          a1                ZZ  DataFrameDataFrame     1232
1             [1, 2, 3, 4, 5]                WW        BehdadBehdad     3432
2         Creating Data Frame  [23, 737, 34.56]                  b1      788
3  The keys >>> column labels     2435GDSSSSS87                  c1    46554

In [2]:
#Example
#Creating Data Frame using "DataFrame Method"

import pandas as PD
CrData={"Q1":[2, 45, 0.05,98,36, 82, "Seven"],"Q2": ["ZZ","WW","B", "xzsx", 11, 14, "t"],\
              "Q3":[0.01,0.02, 0.078, 11, 1, 1.0001, 101110], "Q4":[132, 3432, 788,4655,45,"PIPI","Ux"]}
CrData=PD.DataFrame(CrData)
print(CrDataFrame2)
print("\n\n\n\n Please pay attention to the above table\n When it comes to demonstrating table with HEAD METHOD")
CrData.head()

                     Measure1          Measure2            Measure3  Results
0                          a1                ZZ  DataFrameDataFrame     1232
1             [1, 2, 3, 4, 5]                WW        BehdadBehdad     3432
2         Creating Data Frame  [23, 737, 34.56]                  b1      788
3  The keys >>> column labels     2435GDSSSSS87                  c1    46554




 Please pay attention to the above table
 When it comes to demonstrating table with HEAD METHOD

     Q1    Q2      Q3    Q4
0     2    ZZ   0.010   132
1    45    WW   0.020  3432
2  0.05     B   0.078   788
3    98  xzsx  11.000  4655
4    36    11   1.000    45